html {
  font-family: $fontFamilyMain;
  font-weight: $fontWeightRegular;
  font-size: rem($fontSizeSmallP);

  box-sizing: border-box;

  * {
    box-sizing: inherit;
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }
}

button {
  cursor: pointer;
}

figure {
  line-height: 0;
}